{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    // [
    //   "module-resolver", {
    //     "root": ["./src"],
    //     "alias": {
    //       "*": "./src",
    //       "components/*": "./src/components",
    //       "views/*": "./src/views",
    //       "assets/*": "./src/assets"
    //     }
    //   }
    // ]
  ]
}
